-- Verificar tabelas relacionadas a procedimentos
SELECT table_name FROM information_schema.tables 
WHERE table_schema = 'public' AND table_name LIKE '%procedure%';

-- Verificar colunas da tabela aih_procedures
SELECT column_name, data_type, is_nullable 
FROM information_schema.columns 
WHERE table_name = 'aih_procedures' AND table_schema = 'public'
ORDER BY ordinal_position;

-- Verificar se existe procedure_records
SELECT table_name FROM information_schema.tables 
WHERE table_schema = 'public' AND table_name = 'procedure_records';

-- Listar algumas tabelas para entender a estrutura
SELECT table_name FROM information_schema.tables 
WHERE table_schema = 'public' 
ORDER BY table_name;
