-- FIX PERFIL PERDIDO
CREATE TABLE IF NOT EXISTS user_profiles (
  id UUID PRIMARY KEY,
  email VARCHAR(255) NOT NULL,
  role VARCHAR(20) NOT NULL DEFAULT 'user',
  full_name VARCHAR(255),
  avatar_url TEXT,
  hospital_access TEXT[] DEFAULT '{}',
  permissions TEXT[] DEFAULT '{}',
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

ALTER TABLE user_profiles DISABLE ROW LEVEL SECURITY;
GRANT ALL ON TABLE user_profiles TO anon;
GRANT ALL ON TABLE user_profiles TO authenticated;

INSERT INTO user_profiles (id, email, role, full_name, permissions, hospital_access) 
VALUES ('32568fe0-b744-4a15-97a4-b54ed0b0610e', 'admin@sigtap.com', 'developer', 'Admin Principal', '{all}', '{}')
ON CONFLICT (id) DO UPDATE SET email = 'admin@sigtap.com', role = 'developer', permissions = '{all}';

SELECT 'PERFIL CRIADO!' as status, email, role FROM user_profiles WHERE id = '32568fe0-b744-4a15-97a4-b54ed0b0610e';
