-- ================================================
-- SIGTAP BILLING WIZARD - SCHEMA BANCO DE DADOS
-- Sistema Premium de Gestão de Faturamento Hospitalar
-- ================================================

-- Extensões necessárias
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

-- ================================================
-- 1. HOSPITAIS
-- ================================================
CREATE TABLE hospitals (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name VARCHAR(255) NOT NULL,
  cnpj VARCHAR(18) UNIQUE NOT NULL,
  address TEXT,
  city VARCHAR(100),
  state VARCHAR(2),
  zip_code VARCHAR(10),
  phone VARCHAR(20),
  email VARCHAR(255),
  
  -- Habilitações específicas do hospital
  habilitacoes TEXT[] DEFAULT '{}',
  
  -- Configurações
  is_active BOOLEAN DEFAULT TRUE,
  
  -- Auditoria
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  created_by UUID REFERENCES auth.users(id)
);

-- ================================================
-- 2. VERSÕES DA TABELA SIGTAP
-- ================================================
CREATE TABLE sigtap_versions (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  version_name VARCHAR(100) NOT NULL,
  import_date TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  file_name VARCHAR(255),
  file_size BIGINT,
  file_type VARCHAR(20), -- 'excel', 'pdf', 'zip'
  
  -- Estatísticas da importação
  total_procedures INTEGER DEFAULT 0,
  total_pages INTEGER,
  processing_time_ms INTEGER,
  extraction_method VARCHAR(50), -- 'excel', 'hybrid', 'traditional', 'gemini'
  
  -- Status
  is_active BOOLEAN DEFAULT FALSE,
  import_status VARCHAR(20) DEFAULT 'processing', -- 'processing', 'completed', 'failed'
  import_errors TEXT,
  
  -- Auditoria
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  created_by UUID REFERENCES auth.users(id)
);

-- ================================================
-- 3. PROCEDIMENTOS SIGTAP (COMPLETOS - 22 CAMPOS)
-- ================================================
CREATE TABLE sigtap_procedures (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  version_id UUID NOT NULL REFERENCES sigtap_versions(id) ON DELETE CASCADE,
  
  -- Campos principais
  code VARCHAR(20) NOT NULL,
  description TEXT NOT NULL,
  origem VARCHAR(100), -- NOVO CAMPO
  
  -- Classificação
  complexity VARCHAR(50),
  modality VARCHAR(100),
  registration_instrument VARCHAR(100),
  financing VARCHAR(100),
  
  -- Valores financeiros (em centavos para precisão)
  value_amb INTEGER DEFAULT 0, -- valor em centavos
  value_amb_total INTEGER DEFAULT 0,
  value_hosp INTEGER DEFAULT 0,
  value_prof INTEGER DEFAULT 0,
  value_hosp_total INTEGER DEFAULT 0,
  
  -- Atributos
  complementary_attribute TEXT,
  service_classification VARCHAR(100),
  especialidade_leito VARCHAR(100), -- NOVO CAMPO
  
  -- Restrições
  gender VARCHAR(10), -- 'M', 'F', 'AMBOS', null
  min_age INTEGER,
  min_age_unit VARCHAR(10), -- 'ANOS', 'MESES', 'DIAS'
  max_age INTEGER,
  max_age_unit VARCHAR(10),
  max_quantity INTEGER,
  average_stay DECIMAL(5,2),
  points INTEGER,
  
  -- Códigos relacionados (arrays para múltiplos valores)
  cbo TEXT[] DEFAULT '{}',
  cid TEXT[] DEFAULT '{}',
  habilitation VARCHAR(255),
  habilitation_group TEXT[] DEFAULT '{}',
  
  -- Metadados
  extraction_confidence INTEGER DEFAULT 100, -- 0-100%
  validation_status VARCHAR(20) DEFAULT 'valid', -- 'valid', 'warning', 'error'
  validation_notes TEXT,
  
  -- Auditoria
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  
  -- Constraints
  UNIQUE(version_id, code),
  CHECK (gender IN ('M', 'F', 'AMBOS') OR gender IS NULL),
  CHECK (extraction_confidence >= 0 AND extraction_confidence <= 100)
);

-- ================================================
-- 4. PACIENTES
-- ================================================
CREATE TABLE patients (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  hospital_id UUID NOT NULL REFERENCES hospitals(id),
  
  -- Dados pessoais
  name VARCHAR(255) NOT NULL,
  cns VARCHAR(15) NOT NULL, -- Cartão Nacional de Saúde
  cpf VARCHAR(11),
  birth_date DATE NOT NULL,
  gender VARCHAR(1) NOT NULL CHECK (gender IN ('M', 'F')),
  
  -- Contato e endereço
  address TEXT,
  city VARCHAR(100),
  state VARCHAR(2),
  zip_code VARCHAR(10),
  phone VARCHAR(20),
  email VARCHAR(255),
  
  -- Dados clínicos
  blood_type VARCHAR(3),
  allergies TEXT,
  medical_notes TEXT,
  
  -- Status
  is_active BOOLEAN DEFAULT TRUE,
  
  -- Auditoria
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  created_by UUID REFERENCES auth.users(id),
  
  -- Constraints
  UNIQUE(hospital_id, cns)
);

-- ================================================
-- 5. AIHs (AUTORIZAÇÃO DE INTERNAÇÃO HOSPITALAR)
-- ================================================
CREATE TABLE aihs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  hospital_id UUID NOT NULL REFERENCES hospitals(id),
  patient_id UUID NOT NULL REFERENCES patients(id),
  
  -- Dados da AIH
  aih_number VARCHAR(50) NOT NULL,
  procedure_code VARCHAR(20) NOT NULL,
  
  -- Datas
  admission_date TIMESTAMP WITH TIME ZONE NOT NULL,
  discharge_date TIMESTAMP WITH TIME ZONE,
  estimated_discharge_date TIMESTAMP WITH TIME ZONE,
  
  -- Dados clínicos
  main_cid VARCHAR(10) NOT NULL, -- CID principal
  secondary_cid TEXT[] DEFAULT '{}', -- CIDs secundários
  professional_cbo VARCHAR(10),
  requesting_physician VARCHAR(255),
  
  -- Dados financeiros originais
  original_value INTEGER, -- valor original em centavos
  
  -- Status de processamento
  processing_status VARCHAR(20) DEFAULT 'pending', 
  -- 'pending', 'processing', 'matched', 'rejected', 'manual_review'
  
  match_found BOOLEAN DEFAULT FALSE,
  rejection_reason TEXT,
  requires_manual_review BOOLEAN DEFAULT FALSE,
  
  -- Metadados
  source_file VARCHAR(255), -- arquivo de origem
  import_batch_id UUID, -- lote de importação
  
  -- Auditoria
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  processed_at TIMESTAMP WITH TIME ZONE,
  created_by UUID REFERENCES auth.users(id),
  
  -- Constraints
  UNIQUE(hospital_id, aih_number),
  CHECK (processing_status IN ('pending', 'processing', 'matched', 'rejected', 'manual_review'))
);

-- ================================================
-- 6. RESULTADOS DE MATCH AIH ↔ SIGTAP
-- ================================================
CREATE TABLE aih_matches (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  aih_id UUID NOT NULL REFERENCES aihs(id) ON DELETE CASCADE,
  procedure_id UUID NOT NULL REFERENCES sigtap_procedures(id),
  
  -- Resultados das validações
  gender_valid BOOLEAN NOT NULL,
  age_valid BOOLEAN NOT NULL,
  cid_valid BOOLEAN NOT NULL,
  habilitation_valid BOOLEAN NOT NULL,
  cbo_valid BOOLEAN DEFAULT TRUE,
  
  -- Score geral do match
  overall_score INTEGER NOT NULL CHECK (overall_score >= 0 AND overall_score <= 100),
  
  -- Valores calculados (em centavos)
  calculated_value_amb INTEGER DEFAULT 0,
  calculated_value_hosp INTEGER DEFAULT 0,
  calculated_value_prof INTEGER DEFAULT 0,
  calculated_total INTEGER DEFAULT 0,
  
  -- Detalhes da validação
  validation_details JSONB DEFAULT '{}',
  
  -- Auditoria do match
  match_confidence INTEGER DEFAULT 0 CHECK (match_confidence >= 0 AND match_confidence <= 100),
  match_method VARCHAR(50), -- 'automatic', 'manual', 'assisted'
  reviewed_by UUID REFERENCES auth.users(id),
  reviewed_at TIMESTAMP WITH TIME ZONE,
  
  -- Status
  status VARCHAR(20) DEFAULT 'pending', -- 'pending', 'approved', 'rejected'
  approval_notes TEXT,
  
  -- Auditoria
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  
  -- Constraints
  UNIQUE(aih_id, procedure_id)
);

-- ================================================
-- 7. PROCEDIMENTOS REALIZADOS (EVOLUÇÃO DA TABELA EXISTENTE)
-- ================================================
CREATE TABLE procedure_records (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  hospital_id UUID NOT NULL REFERENCES hospitals(id),
  patient_id UUID NOT NULL REFERENCES patients(id),
  procedure_id UUID NOT NULL REFERENCES sigtap_procedures(id),
  
  -- Ligação com AIH (opcional para procedimentos avulsos)
  aih_id UUID REFERENCES aihs(id),
  aih_match_id UUID REFERENCES aih_matches(id),
  
  -- Dados do procedimento
  procedure_date TIMESTAMP WITH TIME ZONE NOT NULL,
  value_charged INTEGER NOT NULL, -- valor cobrado em centavos
  professional VARCHAR(255),
  professional_cbo VARCHAR(10),
  
  -- Status de faturamento
  billing_status VARCHAR(20) DEFAULT 'pending',
  -- 'pending', 'submitted', 'approved', 'rejected', 'paid'
  
  billing_date TIMESTAMP WITH TIME ZONE,
  payment_date TIMESTAMP WITH TIME ZONE,
  
  -- Observações
  notes TEXT,
  
  -- Auditoria
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  created_by UUID REFERENCES auth.users(id),
  
  -- Constraints
  CHECK (billing_status IN ('pending', 'submitted', 'approved', 'rejected', 'paid'))
);

-- ================================================
-- 8. CONFIGURAÇÕES DO SISTEMA
-- ================================================
CREATE TABLE system_settings (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  hospital_id UUID REFERENCES hospitals(id), -- null = configuração global
  
  -- Chave/Valor
  setting_key VARCHAR(100) NOT NULL,
  setting_value JSONB NOT NULL,
  
  -- Metadados
  setting_type VARCHAR(50), -- 'string', 'number', 'boolean', 'json'
  description TEXT,
  is_public BOOLEAN DEFAULT FALSE,
  
  -- Auditoria
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_by UUID REFERENCES auth.users(id),
  
  -- Constraints
  UNIQUE(hospital_id, setting_key)
);

-- ================================================
-- ÍNDICES PARA PERFORMANCE
-- ================================================

-- Índices para SIGTAP
CREATE INDEX idx_sigtap_procedures_code ON sigtap_procedures(code);
CREATE INDEX idx_sigtap_procedures_version_active ON sigtap_procedures(version_id);
CREATE INDEX idx_sigtap_procedures_complexity ON sigtap_procedures(complexity);
CREATE INDEX idx_sigtap_procedures_financing ON sigtap_procedures(financing);
CREATE INDEX idx_sigtap_procedures_gender ON sigtap_procedures(gender);

-- Índices para AIHs
CREATE INDEX idx_aihs_hospital_date ON aihs(hospital_id, admission_date);
CREATE INDEX idx_aihs_status ON aihs(processing_status);
CREATE INDEX idx_aihs_procedure_code ON aihs(procedure_code);
CREATE INDEX idx_aihs_patient ON aihs(patient_id);
CREATE INDEX idx_aihs_number ON aihs(aih_number);

-- Índices para Pacientes
CREATE INDEX idx_patients_cns ON patients(cns);
CREATE INDEX idx_patients_hospital ON patients(hospital_id);
CREATE INDEX idx_patients_name ON patients(name);

-- Índices para Matches
CREATE INDEX idx_aih_matches_aih ON aih_matches(aih_id);
CREATE INDEX idx_aih_matches_procedure ON aih_matches(procedure_id);
CREATE INDEX idx_aih_matches_score ON aih_matches(overall_score);
CREATE INDEX idx_aih_matches_status ON aih_matches(status);

-- ================================================
-- TRIGGERS PARA UPDATED_AT
-- ================================================

-- Função para atualizar updated_at
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$ language 'plpgsql';

-- Aplicar trigger em tabelas relevantes
CREATE TRIGGER update_hospitals_updated_at BEFORE UPDATE ON hospitals
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_patients_updated_at BEFORE UPDATE ON patients
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_system_settings_updated_at BEFORE UPDATE ON system_settings
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- ================================================
-- VIEWS ÚTEIS
-- ================================================

-- View para procedimentos SIGTAP da versão ativa
CREATE VIEW v_active_sigtap_procedures AS
SELECT sp.* 
FROM sigtap_procedures sp
JOIN sigtap_versions sv ON sp.version_id = sv.id
WHERE sv.is_active = true;

-- View para estatísticas de AIHs por hospital
CREATE VIEW v_aih_stats_by_hospital AS
SELECT 
  h.id as hospital_id,
  h.name as hospital_name,
  COUNT(a.id) as total_aihs,
  COUNT(CASE WHEN a.processing_status = 'matched' THEN 1 END) as matched_aihs,
  COUNT(CASE WHEN a.processing_status = 'rejected' THEN 1 END) as rejected_aihs,
  COUNT(CASE WHEN a.processing_status = 'pending' THEN 1 END) as pending_aihs,
  ROUND(
    COUNT(CASE WHEN a.processing_status = 'matched' THEN 1 END) * 100.0 / NULLIF(COUNT(a.id), 0),
    2
  ) as match_rate_percent
FROM hospitals h
LEFT JOIN aihs a ON h.id = a.hospital_id
GROUP BY h.id, h.name;

-- ================================================
-- DADOS INICIAIS
-- ================================================

-- Hospital padrão para desenvolvimento/demo
INSERT INTO hospitals (id, name, cnpj, address, city, state, habilitacoes) VALUES 
(
  'a0000000-0000-0000-0000-000000000001',
  'Hospital Demo - SIGTAP Billing',
  '12.345.678/0001-90',
  'Rua Demo, 123',
  'São Paulo',
  'SP',
  ARRAY['CARDIOLOGIA', 'NEUROLOGIA', 'ONCOLOGIA']
);

-- Configurações padrão do sistema
INSERT INTO system_settings (setting_key, setting_value, setting_type, description, is_public) VALUES
('system.version', '"1.0.0"', 'string', 'Versão do sistema', true),
('match.confidence_threshold', '70', 'number', 'Threshold mínimo de confiança para match automático', false),
('match.require_manual_review_below', '50', 'number', 'Score abaixo do qual requer revisão manual', false),
('billing.default_currency', '"BRL"', 'string', 'Moeda padrão para faturamento', true),
('sigtap.auto_activate_imports', 'true', 'boolean', 'Ativar automaticamente importações SIGTAP', false);
