-- VERIFICAR SISTEMA DE CADASTRO
SELECT 'TABELA' as item, CASE WHEN EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'user_profiles') THEN 'OK' ELSE 'ERRO' END as status;
SELECT 'PERMISSOES' as item, CASE WHEN has_table_privilege('authenticated', 'user_profiles', 'INSERT') THEN 'OK' ELSE 'ERRO' END as status;
SELECT email, role, full_name FROM user_profiles;
